/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

img {
     max-width: 750px;
     max-height: 750px;
}

.hidden {
     display: none;
}

iframe {
     border: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
